{#{% load static %}#}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>contact</title>#}
{#    <link rel="stylesheet" href="{% static 'style.css' %}">#}
{#</head>#}
{#<body>#}
{##}
{##}
{#<a href="/">home</a>#}
{#<a href="/about/">about</a>#}
{#<a href="/contact/">contact</a>#}
{#<a href="/services/">services</a>#}
{##}
{##}
{##}
{##}
{#<h2>contact</h2>#}
{#<p>this is the contact page</p>#}
{#</body>#}
{#</html>#}

{% extends 'layout.html' %}

{% load static %}

{% block body %}

{% endblock %}